<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazycount.dao.TransactionDao">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO transactions (
            tenant_id, transaction_type, account_id, from_account_id, currency_id, amount, transaction_date, description,
            remark,created_by, updated_by,approval_status,approved_by,approved_at,bank_process_posted_id,rate_group_id)
        VALUES (
                #{tenantId}, #{transactionType}, #{accountId},  #{fromAccountId},  #{currencyId}, #{amount},
                #{transactionDate},#{description}, #{remark}, #{createdBy}, #{updatedBy}, #{approvalStatus},
                #{approvedBy}, #{approvedAt}, #{bankProcessPostedId}, #{rateGroupId}
               )
    </insert>

</mapper>
